<!DOCTYPE html>
<html>
{{!-- head --}}
{{> head }}

<body>
	{{!-- nav --}}
	{{> nav }}

	{{!-- sidebar --}}
	{{> sidebar }}

	{{{ body }}}

	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/chart.min.js"></script>
	<script src="/javascripts/chart-data.js"></script>
	<script src="/javascripts/easypiechart.js"></script>
	<script src="/javascripts/easypiechart-data.js"></script>
	<script src="/javascripts/bootstrap-datepicker.js"></script>
	<script src="/javascripts/custom.js"></script>
	<script>
		window.onload = function () {
			var chart1 = document.getElementById("line-chart").getContext("2d");
			window.myLine = new Chart(chart1).Line(lineChartData, {
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.2)",
				scaleGridLineColor: "rgba(0,0,0,.05)",
				scaleFontColor: "#c5c7cc"
			});
		};
	</script>

</body>

</html>
